<h3>Product Delete</h3>

<p>Are you sure you want to delete this?</p>
<form action="/p_delete">
  <input type="hidden" name="id" value="<%= @all[0].id %>">
  <p><input type="checkbox" name="sure">Yes, I'm sure!</p>
  <input type="submit">
</form>


<% @all.each do |x| %>
  <div class="list_display">
    <p>ID: <%= x.id %> | ISBN#: <%= x.isbn %></p>
    <p>Title: <%= x.title %> | Author: <%= x.author %></p>
    <p>Description: <%= x.description %></p>
    <p>Cost: $<%= x.cost %> | Price: $<%= x.price %> | Quantity: <%= x.quantity %></p>
    <p>Category: <%= x.category_id %> | Location: <%= x.location_id %></p>
  </div>
<% end %>
