<h3>Product Edit</h3>

<p>Edit the product:</p>

<div class="form">
  <form action="p_confirm">
    <p>
      ID#: <%= @object.id %>
      <input type="hidden" name="location_id" value="<%= @location_id %>"><br>
      <label for="isbn">ISBN#: </label> 
      <input type="text" name="isbn" value="<%= @object.isbn %>"><br>
      <label for="title">Title: </label> 
      <input type="text" name="<%= @object.title %>"><br>
      <label for="author">Author: </label> 
      <input type="text" name="<%= @object.author %>"><br>
      <label for="description">Description: </label> 
      <input type="text" name="<%= @object.description %>"><br>
      <label for="cost">Cost: </label> 
      <input type="text" name="<%= @object.cost %>"><br>
      <label for="price">Price: </label> 
      <input type="text" name="<%= @object.price %>"><br>
      <label for="quantity">Quantity: </label> 
      <input type="text" name="<%= @object.quantity %>"><br>
      <label for="category_id">Category ID: </label> 
      <input type="text" name="<%= @object.category_id %>"><br>
      <label for="location_id">Location ID: </label> 
      <input type="text" name="<%= @object.location_id %>"><br>
      <input type="submit" value="Submit">
    </p>
  </form>
</div>
