<h3>Product Search</h3>

<div class="product_display">
  <% @all.each do |x| %>
  <p>ID: <%= x.id %> | ISBN#: <%= x.isbn %></p>
  <p>Title: <%= x.title %> | Author: <%= x.author %></p>
  <p>Description: <%= x.description %></p>
  <p>Cost: $<%= x.cost %> | Price: $<%= x.price %> | Quantity: <%= x.quantity %></p>
  <p>Category: <%= x.category_id %> | Location: <%= x.location_id %></p>
  <% end %>
</div>

<p>What would you like to do?</p>
<p><a href="/p_edit">Edit this product's details</a></p>
<p><a href="/p_delete">Delect this product from the database</a></p>
