<h3>Product Search</h3>

<p><%= @search.upcase %>: <%= @choice %>
<p>Which product would you like?</p>



<div class="form">
  <form action="/p_identified">
    <select name="id">
    <% @all.each do |x| %>
      <p><option value="<%= x.id %>"><%= x.id %></option></p>
    <% end %>    
    </select></br>
    <input type="hidden" name="id" value="<%= @all[0].id %>">
    <p><input type="radio" value="edit" name="e_d" checked>Edit</p>
    <p><input type="radio" value="delete" name="e_d">Delete</p></br>
    <input type="submit">
  </form>
</div>

<% @all.each do |x| %>
  <div class="list_display">
    <p>ID: <%= x.id %> | ISBN#: <%= x.isbn %></p>
    <p>Title: <%= x.title %> | Author: <%= x.author %></p>
    <p>Description: <%= x.description %></p>
    <p>Cost: $<%= x.cost %> | Price: $<%= x.price %> | Quantity: <%= x.quantity %></p>
    <p>Category: <%= x.category_id %> | Location: <%= x.location_id %></p>
  </div>
<% end %>